.login {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.fake_button {
    pointer-events: none;
}

.field_block {
    display: block;
}

.action_button {
    margin-left: 5px;
    margin-right: 5px;
}