<div>
    <h4>Users</h4>
    <table #usersTable mat-table [dataSource]="usersDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>
        <ng-container matColumnDef="authorities">
            <th mat-header-cell *matHeaderCellDef> Authorities </th>
            <td mat-cell *matCellDef="let user"> {{user.authorities}} </td>
        </ng-container>
        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef> Enabled </th>
            <td mat-cell *matCellDef="let user"> {{user.enabled}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user"> <app-user-elem [user]="user"></app-user-elem> </td>
            </ng-container>
        <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: usersColumns;"></tr>
    </table>
</div>
<div>
    <h4>Subscribers</h4>
    <table #subscribersTable mat-table [dataSource]="subscribersDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let subscriber"> {{subscriber.username}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let subscriber"> <app-subscribe-elem [subscriber]="subscriber"></app-subscribe-elem> </td>
                </ng-container>
            <tr mat-header-row *matHeaderRowDef="subscribersColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: subscribersColumns;"></tr>
        </table>
</div>
